id ICON "./Resources/Branding/Wolf2.ico"

//ADDED
VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,0,0,0
    PRODUCTVERSION 1,0,0,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",        "BADER\0"
            VALUE "FileDescription",    "Enigma\0"
            VALUE "FileVersion",        "1.0.0.0\0"
            VALUE "LegalCopyright",     "© 2021 BADER EDDINE OUAICH. All Rights Reserved\0"
            VALUE "OriginalFilename",   "Enigma.exe\0"
            VALUE "ProductName",        "Enigma\0"
            VALUE "ProductVersion",     "1.0.0.0\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}